# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 10e2129cbce4ec28990f102e05ead42390dbf24512c96f4ef8a002d29e1a84d05491be1ea6252af586bf32061be53cad1b0ebd410ecb74ba6040457a3e5ef532

test:
  secret_key_base: 755f5d7840890c62be4f317b6227a108637d8937cc634db0b5d5de13dbf62b246a4ffdc85fd62bd017b2a1d4d2751a02fa45e3b86cb1b36966b9a9aeab1d5f90

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 755f5d7840890c62be4f317b6227a108637d8937cc634db0b5d5de13dbf62b246a4ffdc85fd62bd017b2a1d4d2751a02fa45e3b86cb1b36966b9a9aeab1d5f91
